.table-container{
    max-width: 90vw;
    margin: 50px auto;
    max-width: 80vw;
}
.flight-options{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    &__item-btn{
        width: 40vw;
        aspect-ratio: 6;
        border:none;
        background-color: white;
        color: #1FB7EE;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;

    }
}
.selected{
    color: #ffffff;
    background-color: #1FB7EE;
}
.selectedLeft{
    border-radius: 0px 30px 0px 0px;
}
.selectedRight{
    border-radius: 30px 0px 0px 0px;
}
.flight-table__head-first th{
    background-color: white;
}
.flights-info{
    line-height: 100%;
    &__logo{
        width:50%;
    }
    &__terminal-name{
        font-weight: 700;
        border: 2px solid;
        border-radius: 100%;
        padding:5px 10px ;
        aspect-ratio: 1;
    }
    &__logo-name{
       display: inline-block;
  vertical-align: middle;
  line-height: normal;
    }
}
table{
    border-spacing: 0px;
}
.col{
    padding: 0;
    max-width: 14%;
    width: 14%;
    height:50px;
    text-align: center;
    line-height: 100%;
}
tr:nth-child(odd){
    background-color: #E6EFEC;
}


tr{
    background-color: #ffffff;
    min-width: 100%;
}
.terminal-a{
    color: green;
    border: green;
}
.terminal-d{
    color: #1FB7EE;
    border: #1FB7EE;
}

